<section  id="respond">

			{% if fn('comments_open') %}

				{{ function('comments_template') }}

			{% endif %}

<h4>آراء المستخدمين</h4>


    {% if post.comments is not empty %}
        {% for comment in post.comments %}
<div data-comment="#" id="comment-{{ comment.comment_ID }}" class="user-review">
							<h6 data-name="{{ comment.comment_author }}">{{ comment.comment_author }}</h6>
							<p>
{{ comment.comment_content }}
							</p>
						</div>

        {% endfor %}
    {% else %}
			<h5>لا يوجد أراء كن اول من يكتب رأيه</h5>

    {% endif %}




</section>