<section class="product-showcase">
				<div class="container">
					<div class="main-title">
						<h2 class="title">أحدث مراجعات الأجهزة الكهربائية</h2>
						<a href="/all-category" class="link">
							المزيد من المراجعات
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
								<line x1="5" y1="12" x2="19" y2="12"></line>
								<polyline points="12 5 19 12 12 19"></polyline>
							</svg>
						</a>
					</div>
					<div class="tabs">
						<button class="btn btn-outline-secondary tab-button active" data-category="home">
							أجهزة منزلية
						</button>
						<button class="btn btn-outline-secondary tab-button" data-category="electronic">
							أجهزة إلكترونية
						</button>
						<button class="btn btn-outline-secondary tab-button" data-category="kitchen">
							أجهزة مطبخ
						</button>
						<button class="btn btn-outline-secondary tab-button" data-category="other">
							أخرى
						</button>
					</div>
					<div class="product-grid" id="productGrid">

                            {% for article in related_posts %}

						<a href="{{ article.link }}" class="product-link" data-category="electronic">
							<div class="product-card">
								<div class="product-image">
									<img src="{{ article.thumbnail | default(defaultimg) }}" alt="{{article.title }}">
									<button class="compare-button" id="{{ article.id }}">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="compare-icon">
											<path d="M438.6 150.6c12.5-12.5 12.5-32.8 0-45.3l-96-96c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.7 96 32 96C14.3 96 0 110.3 0 128s14.3 32 32 32l306.7 0-41.4 41.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l96-96zm-333.3 352c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 416 416 416c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0 41.4-41.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-96 96c-12.5 12.5-12.5 32.8 0 45.3l96 96z"></path>
										</svg>
									</button>
								</div>
								<div class="product-info">
									<div class="price-rating">
										<span class="price">{{article.price}} </span>
{% if article.total_rating %}

<span class="rating-value" data-rating="{{ article.total_rating }}" 
      style="background-color: {% if article.total_rating > 3 %}rgb(41, 204, 0){% else %}rgb(204, 82, 0){% endif %};">
    {{ article.total_rating }}/5
</span>			
            {% endif %}
						</div>
									<h3 class="product-title">
										{{article.title }}
									</h3>
									<p class="product-description"> {{ article.first_category }} </p>
								</div>
							</div>
						</a>
						        {% endfor %}


					</div>
				</div>
			</section>